registry=https://upplify.pkgs.visualstudio.com/Shortify/_packaging/services/npm/registry/

always-auth=true

; begin auth token
//upplify.pkgs.visualstudio.com/Shortify/_packaging/services/npm/registry/:username=upplify
//upplify.pkgs.visualstudio.com/Shortify/_packaging/services/npm/registry/:_password=NG54NHJxd3J4M25hbnI1b3ZsdXBqZ3EydmtkbHJ6eGh4cGxseWF1Z3RtdGo3c2t4dmJncQ==
//upplify.pkgs.visualstudio.com/Shortify/_packaging/services/npm/registry/:email=npm requires email to be set but doesn't use the value
//upplify.pkgs.visualstudio.com/Shortify/_packaging/services/npm/:username=upplify
//upplify.pkgs.visualstudio.com/Shortify/_packaging/services/npm/:_password=NG54NHJxd3J4M25hbnI1b3ZsdXBqZ3EydmtkbHJ6eGh4cGxseWF1Z3RtdGo3c2t4dmJncQ==
//upplify.pkgs.visualstudio.com/Shortify/_packaging/services/npm/:email=npm requires email to be set but doesn't use the value
; end auth token